<p id="notice"><%= notice %></p>

<h1>Clucks</h1>

<% @clucks.each do |cluck| %>
  <div class="cluck">
    <b><%= cluck.user.email %></b>
    <%= link_to 'Show', cluck %>
    <div class="cluck-content"><%= cluck.content %></div>
    <div><%= link_to 'Destroy', cluck, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
<% end %>

<br>

<%= link_to 'New Cluck', new_cluck_path %>
