<p id="notice"><%= notice %></p>

<% if @user.present? %>
  <h1><%= @user %></h1>
<% else %>
  <h1>Clucks</h1>
<% end %>

<% @items.each do |item| %>
  <div class="cluck">
    <b><%= link_to item.cluck.user.email, user_clucks_path(item.cluck.user) %></b>

    <%= link_to 'Show', item.cluck %>
    <div class="cluck-content"><%= item.cluck.content %></div>

    <% if item.cluck.reclucked_by?(current_user) %>
      <%= link_to 'Undo recluck', recluck_path(id: item.cluck.recluck_for(current_user).id), method: :delete %>
    <% else %>
      <%= link_to 'Recluck', reclucks_path(cluck_id: item.cluck.id), method: :post %>
    <% end %>

    <% if item.cluck.user == current_user %>
      <div><%= link_to 'Destroy', item.cluck, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Cluck', new_cluck_path %>
