<p id="notice"><%= notice %></p>

<% if @user.present? %>
  <h1><%= @user %></h1>
<% else %>
  <h1>Clucks</h1>
<% end %>

<% @clucks.each do |cluck| %>
  <div class="cluck">
    <b><%= link_to cluck.user.email, user_clucks_path(cluck.user) %></b>

    <%= link_to 'Show', cluck %>
    <div class="cluck-content"><%= cluck.content %></div>

    <% if cluck.user == current_user %>
      <div><%= link_to 'Destroy', cluck, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Cluck', new_cluck_path %>
